
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
:root {
    --purple-color:  #6B3CC9;
    --orange-color: #F28D35;
    --blue-color: #6A44F2;
    --light-blue-color: #1CBDDD;
    --dark-purple-color: #52378C;
    --green-color: #78BF91;
    --text-color: #2F2F2F;
    --text-color-light: #545A75;
    --text-color-subtle: #9C9991;
    --accent-color-blue: #E2F2FE;
    --accent-color-cream: #FFF8E0;
    --error-color: #FF0335;
    --success-color: #5EB30B;

}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    font-family: "Inter", sans-serif;
}

.nav-link{
    margin-left: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: #FFFFFF;
    gap: 28px;
}

header {
    background-color: var(--purple-color);
}

.hero-div{
    background-image: url(images/hero.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero .hero-content{
    position: relative;
    top: 354px;
    left: 80px;
    width: 630px;
    height: 306px;
    background-image: linear-gradient(0.25turn,#4DCA79,#1CBDDD);
    margin: 20px;
    padding: 24px 40px 32px 40px;
}

#hero .content-text{
    
    width: 556px;
    height: 192px;
    color: #FFFFFF ;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2%;
}

.btn-class{
    background-color: #F28D35;
    width: 214px;
    height: 38px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -2%;
    padding: 12px, 20px, 12px, 20px;
    margin-top: 8px;
}

 .details{
    display: inline;
}

.row{
    width: 1064px;
    height: 414px;
    margin-left: 188px;
}

.card {
    border: none;
}
.card-img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.card-body{
    width: 542px;
    height: 187px;
    margin-top: 80px;
}

.card-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.4px;
    color: #6B3CC9;
}

.card-btn-class{
    background-color: #F28D35;
    width: 129px;
    height: 38px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    padding: 12px, 20px, 12px, 20px;
    margin-top: 8px;
}

#faq h3{
    text-align: center;
    color: #6B3CC9;
}

.accordion{
    border: none;
    width: 846px;
    height: 392px;
    margin-left: 297px;
    margin-top: 20px;

}

.accordion-item{
    margin-bottom: 20px;
    background-color: #FAF8FF;
}

.accordion-button::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
    transition: all 0.5s;
    color: #6B3CC9;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.footer{
    background-color: #6B3CC9;
    width: 1440px;
    height: 266px;
    padding: 40px 80px 20px 80px;
}

.footer-logo{
    width: 238.89px;
    height: 36.11px;

}

.footer-paragraph{
    width: 413px;
    height: 57px;
}

.footer-paragraph p, .footer-technologies, .footer-services{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;;
}

.footer .row{
    margin-left: 0;
    margin-right: 0;
}

/*  Media Queries */
@media screen and (max-width:1200px) {
    .accordion{
        margin-left: 152px !important;
    }
    .card .row{
        margin-left: 152px;
    }
}

@media screen and (max-width:768px) {
    .hero-div{
        background-size: contain;
        height: 448px;
    }

    .hero-content{
        top: 373px !important;
        width: 768px !important;
        height: 258px;
        z-index: 1;
        left: 0;
        margin-left: 0;
    }

    #service{
        margin-top: 220px;
    }

    .card{
        width: 688px;
    }
    .card .row{
        margin-left: 0;
        margin-right: 0;
    }
}
/* .footer .row .col-lg-9{
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 10px;
}

footer p{
    margin-bottom: 3px;
}

.footer_informations{
   display: inline-block;
   
} 

.footer_informations p{
  display: inline;
}



.tas_gov_logo{
  width: 100px;
  height: auto;
  margin-left: 320px;
  margin-top: 100px;

}

.content{
    padding-top: 50px;
} */

